{% extends 'app/base.html' %}
{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'app/css/style.css' %}">
{% block title %}Product Detail{% endblock title %}
</head>
{% block main-content %}
<div class="container my-5">
 <div class="row">
  <div class="col-sm-6 text-center align-self-center">
   <img src="{{product.product_image.url}}" alt="" class="img-fluid img-thumbnail product-image">
  </div>
  <div class="col-sm-5 offset-sm-1">
   <h1>{{product.title}}</h1>
   <hr>
   <h5 class="description-font"><p>{{product.description}}</p></h5> <br>
   <u><h3>Rs. {{product.discounted_price}}</u> <small class="fw-light text-decoration-line-through">Rs. {{product.selling_price}} </small></h4> <br>

   {% if request.user.is_authenticated %}

    {% if item_already_in_cart %}
        <a href="{% url 'showcart' %}" class="btn btn-warning shadow px-5 py-2 ms-4">Go To Cart</a> 
    {% else %}
    <form action="/add-to-cart" class= "d-inline">
        <input type ="hidden" name="prod_id" value={{product.id}} id="prod_id">
        <button type="submit" class="btn btn-primary shadow px-5 py-2">Add to Cart </button>
    </form>
{% endif %}
{% endif %}

{% if not request.user.is_authenticated %}
    
 <form action="/add-to-cart" class= "d-inline">
        <input type ="hidden" name="prod_id" value={{product.id}} id="prod_id">
        <button type="submit" class="btn btn-primary shadow px-5 py-2">Add to Cart </button>
    </form>

{% endif %}

   <a href="{% url 'showcart' %}" class="btn btn-danger shadow px-5 py-2 ms-4">Buy Now</a>
   <h4 class="mt-5">Available Offers</h4>
   <ul>
    <li>Cyber Monday Offers Upto 70% Off on Products.</li>
    <li>Special Price Get extra ₹3000 off (price inclusive of discount).</li>
    <li>Shop for Rs. 10,00,000 and get Shipping Free.</li>
    <li>Get all the Products with Massive Discounts.</li>
   </ul>
  </div>
 </div>
</div>
{% endblock main-content %}